/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {

    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}


/* header */

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 60px;
    font-size: 1.12rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 0 240px;
}

/* banner styles */

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}


.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    font-size: 1.12rem;
    color: #727272;
    font-weight: 400;
}